@using EQNWebsiteUI.Models
@{
    WidgetModel[] Widgets = null;
    if(ViewData["Widgets"] != null)
    {
        Widgets = (WidgetModel[])ViewData["Widgets"];
    }
}

<style>
    .gridster
    {
        opacity: .5;
    }

    .NewsFeed {
        overflow-y: scroll;
        height: 426px;
    }
    .NewsFeedEntry {
        margin-bottom: 20px;
        padding-bottom: 5px;
        border-bottom: 1px dashed white;
        color: white;
    }

    @@media all and (max-width: 822px), (max-height: 602px) {
        .InteractiveDisplayWrapper {
            display: none;
        }
    }

    .borderize-default-table {
    
    }
        .borderize-default-table .borderize-horizontal {
            background-image: url('/Images/horizontal.png');
            background-position: 0px 0px;
            background-repeat:repeat-x;
            height:5px;
        }
        .borderize-default-table .borderize-vertical {
            background-image: url('/Images/vertical.png');
            background-position: 0px 0px;
            background-repeat:repeat-y;
            height:5px;
        }
        .borderize-default-table .borderize-top-left-corner {
            background-image: url('/Images/SampleCustomBorder.png');
            background-position: 0px 0px;
            background-repeat:no-repeat;
            height:5px;
            width:5px;
        }
        .borderize-default-table .borderize-top-right-corner {
            background-image: url('/Images/SampleCustomBorder.png');
            background-position: -5px 0px;
            background-repeat:no-repeat;
            height:5px;
            width:5px;
        }
        .borderize-default-table .borderize-bottom-left-corner {
            background-image: url('/Images/SampleCustomBorder.png');
            background-position: -10px 0px;
            background-repeat:no-repeat;
            height:5px;
            width:5px;
        }
        .borderize-default-table .borderize-bottom-right-corner {
            background-image: url('/Images/SampleCustomBorder.png');
            background-position: -15px 0px;
            background-repeat:no-repeat;
            height:5px;
            width:5px;
        }
</style>


<div class="NewsFeedWrapper">
    <h1>News Feed</h1>
    <div class="NewsFeed"></div>
</div>

<div class="InteractiveDisplayWrapper">
    <canvas id="TopLayerCanvas" class="canvasStyle"></canvas>
</div>

@*<div class="gridster">
    <ul class="widget-area">
        @if (Widgets != null)
        {
            foreach (WidgetModel widget in Widgets)
            {
                ViewData["Widget"] = widget;
                Html.RenderPartial("Widgets/" + widget.widgetType, ViewData);
            }
        }
    </ul>
</div>*@

@section scripts {
<script>
    $('#TopLayerCanvas').SmokeyCanvas({
        particleCount: 0
    });
    $('.NewsFeed').NewsFeed();
    $('.NewsFeedWrapper').Borderize();
</script>
}