@using EQNWebsiteUI.Models
@{
    WidgetModel[] Widgets = null;
    if(ViewData["Widgets"] != null)
    {
        Widgets = (WidgetModel[])ViewData["Widgets"];
    }
}

<style>
    .gridster
    {
        opacity: .5;
    }
</style>

<div class="NewsFeedWrapper"></div>

<div class="InteractiveDisplayWrapper">
    <canvas id="TopLayerCanvas" class="canvasStyle"></canvas>
</div>

@*<div class="gridster">
<ul class="widget-area">
    @if (Widgets != null)
    {
        foreach (WidgetModel widget in Widgets)
        {
            ViewData["Widget"] = widget;
            Html.RenderPartial("Widgets/" + widget.widgetType, ViewData);
        }
    }
</ul>
    </div>*@

@section scripts {
<script>
    $('#TopLayerCanvas').SmokeyCanvas({
        particleCount: 250
    });
</script>
}