@{
    Layout = "~/Views/Shared/_WidgetLayout.cshtml";
}
<div class="login-start">
@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        <div onclick="PostPartialView('/Account/LogOff')" class="logoff-button">Log off</div>
    </text>
}
else
{
    <ul>
        <li>
            <a class="open-popup-link" href="/Account/Register">Register</a>
            <a class="open-popup-link" href="/Account/Login">Login</a>
        </li>
    </ul>
}
</div>