<div class="footer-wrapper">
    <div class="footer-item">Copyright 2014</div>
    <div class="footer-item">Anashti Death Disciples.</div>
    <div class="footer-item float-right">Contact Us</div>
</div>