@using System.Xml.Serialization
@using EQNWebsiteUI.Classes
@using EQNWebsiteUI.Models
@{
    MenuModel menu = null;

    if (ViewData["Menu"] != null)
    {
        menu = (MenuModel)ViewData["Menu"];
    }
    
    string menuitems = Json.Encode(menu);
}

<div class="MainMenuWrapper"></div>

<script>
    $(function () {
        var menuItems = $.parseJSON(String('@(menuitems)').replace(/&quot;/g, '"'));
        $(".MainMenuWrapper").empty().append(RenderMenu(menuItems));

        $(".MainMenuWrapper").css({
            width: menuItems.items.length * 163,
            margin: '0px auto'
        });

        $('.menu-list .menuitem').each(
            function (i) {
                var index = Number($(this).data('index'));
                $(this).css({ left: 163 * i, 'background-position': -163 * index + "px 0px" });
            }
        );

        $("ul.menu-list li").click(function () {
            $('.clicked').each(function () {
                $(this).removeClass('clicked');
                var index = Number($(this).data('index'));
                $(this).not('.clicked').css({ 'background-position': -163 * index + "px 0px" });
            });
            var index = Number($(this).data('index'));
            $(this).addClass('clicked');
            $(this).css({ 'background-position': -163 * index + "px 38px" });
        });

        $("ul.menu-list li").hover(function () {
            var index = Number($(this).data('index'));
            $(this).not('.clicked').css({ 'background-position': -163 * index + "px -38px" });
            $('ul:first', this).css('visibility', 'visible');

        }, function () {
            var index = Number($(this).data('index'));
            $(this).not('.clicked').css({ 'background-position': -163 * index + "px 0px" });
            $('ul:first', this).css('visibility', 'hidden');
        });

        $("ul.menu-list li ul").css('visibility', 'hidden');
        $("ul.submenu-list:empty, a[href='']").remove();
        $("ul.menu-list li ul li:has(ul)").find("a:first").append(" &raquo; ");
    });
</script>
