@using EQNWebsiteUI.Models
@{
    WidgetModel widgetPartial = null;
    
    if(ViewData["Widget"] != null)
    {
        widgetPartial = (WidgetModel)ViewData["Widget"];
    }
}

@if(widgetPartial != null)
{
<div class="jdWidget-wrapper">
    <div class="jdWidget-titlebar-handle"></div>
    @RenderBody()
</div>
}