<div class="header-wrapper">
    @*here is where the logo goes for our webpage.*@
    <div class="false-header"> This is a pretend banner logo... :D</div>
    @Html.Action("MainMenu", "Base")

</div>