* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
}

style, script, title {
    display: none;
}

table {
    display:table;
    border-collapse:collapse;
}
tr {
    display:table-row;    
}
td {
    display:table-cell;
}


html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 16pt;
    font-family:'Matura MT Script Capitals';
}
html {
    min-height: 720px;
}

body, header, footer, .root-content {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: white;
    background-color: black;
    min-width: 1221px;
}
body {
    padding: 20px 50px;
}

header {
    z-index: 100;
    min-height: 124px;
}
footer {
    z-index: 100;
    min-height: 75px;
}

/* Layout elements style */
/*-----------------------------------------------------------------------------------------------------------------------------*/
    .canvasStyle
    {
        position:absolute;
        z-index:999;
        pointer-events: none;
    }

/* Header styles */
/*-----------------------------------------------------------------------------------------------------------------------------*/

.header-wrapper {
    position: relative;
}

.false-header {
    background-color: black;
    color: white;
}

.logoff-button {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

/* Main Menu*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
.ui-menubar .ui-menubar-item {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
    position: relative;
}

.ui-menu {
    position: absolute;
}

.ui-state-hover, .ui-widget-header .ui-state-hover {
    border: none;
}

.menu-list {
    position:relative;
    clear:both;
    overflow: hidden;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}

    .menu-list .menuitem {
        float: left;
            display: inline-block;
            border: 2px solid #B835FF;
            padding: 5px;
            background-color: #7F00FF;
            text-align:center;
            border-collapse: collapse;
    }

        .menu-list .menuitem a {
            color: white;
            font-family: Arial;
            font-size: 12px;
        }

.toplevel-MenuList {
    
}

/* Root Content */
/*-----------------------------------------------------------------------------------------------------------------------------*/
.root-content, .NewsFeedWrapper, .InteractiveDisplayWrapper {
    z-index: 50;
    height: 687px;
}

.widget-area {
    background-color: aqua;
    min-height: 400px;
    width: 100%;
}

.AjaxFormWrapper {
    overflow:hidden; 
    padding: 0px 20px 20px 20px;
    border: 2px solid #7F00FF;
    background-color: #2B0058;
}
    .AjaxFormWrapper fieldset {
        padding: 10px;
    }

    .AjaxFormWrapper .mfp-close {
        color: white;
        background-color: #7B68EE;
    }

.NewsFeedWrapper {
    position: relative;
    width: 30%;
    float: left;
    height: 687px;
    border: 2px solid #B835FF;
    padding: 5px;
    background-color: #7F00FF;
    overflow: auto;

}

.NewsFeed a {

    color: white;
    font-family: Arial;
    font-size: 12pt;
}

.InteractiveDisplayWrapper {
    position: relative;
    display: inline-block;
    float:left;
    height:100%;
    width: 70%;
    overflow:hidden;
    border: 2px solid #B835FF;
}
.pageContent {
    height: 630px;
    overflow: auto;

}
/* widgets  */
/*************************************************************************************************************************************/
.jdWidget-wrapper {
    display: inline-block;
    position:absolute;
    z-index: 10;
    opacity: .9;
}

.jdWidget-titlebar-handle {
    position:absolute;
    height: 20px;
    width: 100%;
    background-color: black;
    z-index: 10;
}

.jdWidget-content {
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow:hidden;
    z-index:0;
}
    .jdWidget-content > div {
        height: 100%;
        width: 100%;
        padding: 25px 5px;
        z-index: 0;
    }

.registerloginlink {
}

.login-start {

}

/* footer style   */
/*************************************************************************************************************************************/
.footer-item {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}

.footer-wrapper {
    background-color: gray;
    overflow: hidden;
}

.float-right {
    float: right;
}
