@using EQNWebsiteUI.Models
@{
    WidgetModel[] Widgets = null;
    if(ViewData["Widgets"] != null)
    {
        Widgets = (WidgetModel[])ViewData["Widgets"];
    }
}

<style>
    .canvasStyle
    {
        opacity: .5;
        position:absolute;
        z-index:999;
        pointer-events:none;
    }
    .gridster
    {
        opacity: .5;
    }
</style>
<div class="gridster">
<canvas id="myCanvas" class="canvasStyle" height="1000" width="1188"></canvas>
<ul class="widget-area">
    @if (Widgets != null)
    {
        foreach (WidgetModel widget in Widgets)
        {
            ViewData["Widget"] = widget;
            Html.RenderPartial("Widgets/" + widget.widgetType, ViewData);
        }
    }
</ul>
    </div>

<script src="~/Scripts/jQuery-Custom/SmokeyClearEffect.js"></script>
