@using EQNWebsiteUI.Models
@{
    WidgetModel[] Widgets = null;
    if(ViewData["Widgets"] != null)
    {
        Widgets = (WidgetModel[])ViewData["Widgets"];
    }
}

<style>
    .gridster
    {
        opacity: .5;
    }
</style>
<canvas id="TopLayerCanvas" class="canvasStyle"></canvas>

@*<div class="gridster">
<ul class="widget-area">
    @if (Widgets != null)
    {
        foreach (WidgetModel widget in Widgets)
        {
            ViewData["Widget"] = widget;
            Html.RenderPartial("Widgets/" + widget.widgetType, ViewData);
        }
    }
</ul>
    </div>*@

<script src="~/Scripts/jQuery-Custom/OriginalSmokeyEffect.js"></script>
<script>
    $(document).ready(function () {
        $('#TopLayerCanvas').SmokeyCanvas();
    });
</script>