* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
}

style, script, title {
    display: none;
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body, header, footer, .root-content {
    padding: 0px 20px;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

header {
    z-index: 100;
}

.root-content {
    z-index: 50;
}

footer {
    z-index: 100;
}
/* Header styles */
/*-----------------------------------------------------------------------------------------------------------------------------*/


.header-wrapper {
    position: relative;
    background-color: brown;
}

.false-header {
    height: 100px;
    background-color: black;
    color: white;
}

/* Main Menu*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
.ui-menubar .ui-menubar-item {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
    position: relative;
}

.ui-menu {
    position: absolute;
}

.ui-state-hover, .ui-widget-header .ui-state-hover {
    border: none;
}
/* Root Content */
/*-----------------------------------------------------------------------------------------------------------------------------*/
.root-content {
    min-height: 200px;
    width: 100%;
}

.widget-area {
    background-color: aqua;
    min-height: 400px;
    width: 100%;
}


/* widgets  */
/*************************************************************************************************************************************/
.jdWidget-wrapper {
    display: inline-block;
    position:absolute;
}

.jdWidget-titlebar-handle {
    height: 20px;
    width: 100%;
    background-color: black;
}

.jdWidget-content {
    height: 100%;
    width: 100%;
}
    .jdWidget-content > div {
        padding: 10px 5px;
    }

.registerloginlink {
    width: 50%;
}

/* footer style   */
/*************************************************************************************************************************************/
.footer-item {
    float: left;
    margin-right: 5px;
}

.footer-wrapper {
    background-color: gray;
    overflow: hidden;
}
