* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
}

style, script, title {
    display: none;
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 16pt;
    font-family:'Matura MT Script Capitals';
}
html {
    min-height: 900px;
}

body, header, footer, .root-content {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: white;
    background-color: black;
}
body {
    padding: 20px 50px;
}

header {
    z-index: 100;
    min-height: 150px;
}

.root-content
{
    background:black;
    min-height: 600px;
}

footer {
    z-index: 100;
    min-height: 150px;
}

/* Layout elements style */
/*-----------------------------------------------------------------------------------------------------------------------------*/
    .canvasStyle
    {
        opacity: .5;
        position:absolute;
        z-index:999;
        pointer-events: none;
    }

/* Header styles */
/*-----------------------------------------------------------------------------------------------------------------------------*/

.header-wrapper {
    position: relative;
    padding-top: 20px;
}

.false-header {
    background-color: black;
    color: white;
}

/* Main Menu*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
.ui-menubar .ui-menubar-item {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
    position: relative;
}

.ui-menu {
    position: absolute;
}

.ui-state-hover, .ui-widget-header .ui-state-hover {
    border: none;
}

.menu-list {
    position:relative;
    clear:both;
    overflow: hidden;
}

    .menu-list .menuitem {
        float: left;
        display: inline-block;
        border: 2px solid #B835FF;
        border-radius: 3px;
        padding: 5px;
        background-color: #7F00FF;
    }

        .menu-list .menuitem a {
            color: white !important;
            font-family: Arial;
            font-size: 12px;
        }


/* Root Content */
/*-----------------------------------------------------------------------------------------------------------------------------*/
.root-content {
    z-index: 50;
    min-height: 600px;
}

.widget-area {
    background-color: aqua;
    min-height: 400px;
    width: 100%;
}

.AjaxFormWrapper {
    overflow:hidden; 
    padding: 0px 20px 20px 20px;
    border: 2px solid #7F00FF;
    background-color: #2B0058;
}
    .AjaxFormWrapper fieldset {
        padding: 10px;
    }

    .AjaxFormWrapper .mfp-close {
        color: white;
        background-color: #7B68EE;
    }
/* widgets  */
/*************************************************************************************************************************************/
.jdWidget-wrapper {
    display: inline-block;
    position:absolute;
    z-index: 10;
    opacity: .9;
}

.jdWidget-titlebar-handle {
    position:absolute;
    height: 20px;
    width: 100%;
    background-color: black;
    z-index: 10;
}

.jdWidget-content {
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow:hidden;
    z-index:0;
}
    .jdWidget-content > div {
        height: 100%;
        width: 100%;
        padding: 25px 5px;
        z-index: 0;
    }

.registerloginlink {
}

/* footer style   */
/*************************************************************************************************************************************/
.footer-item {
    float: left;
    margin-right: 5px;
}

.footer-wrapper {
    background-color: gray;
    overflow: hidden;
}
