@{
    Layout = "~/Views/Shared/_WidgetLayout.cshtml";
}
<div class="login-start">
@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        <div onclick="PostPartialView('/Account/LogOff')" class="logoff-button">Log off</div>
    </text>
}
else
{
    <ul>
        <li>
            <a class="open-popup-link" href="/Account/Register">Register</a>
            <a class="open-popup-link" href="/Account/Login">Login</a>
        </li>
    </ul>
}
</div>
<script>
    $('.open-popup-link').magnificPopup({
        delgate: 'a',
        type: 'ajax',
        disableOn: 700,
        removalDelay: 160,
        mainClass: 'mfp-fade',

        midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
    });
</script>